@model SyntheticPortfolio.Models.LoginVM

@{
    ViewBag.Title = "Login";
}

<br />
<br />
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.ReturnURL)
    <form class="form-horizontal">

        <div class="form-group">

            @Html.TextBoxFor(s => s.Username, new { @class = "form-control form-block", @placeholder = "Username" })
            <br /> <br />
            @Html.PasswordFor(s => s.Password, new { @class = "form-control", @placeholder = "Password" })
            <br /> <br />
            <button class="btn btn-action-main" type="submit">Login</button>

            @if (TempData["ErrorMSG"] != null)
            {
                <label style="color:maroon;"> @TempData["ErrorMSG"] </label>
                <br /><br />
            }
        </div>
    </form>
}

