@using SyntheticPortfolio.Models
@using WVAPIDataModels
@using System.Globalization;

@{
    ViewBag.Title = "Portfolio Summary";
}
<br />
@if (!ViewBag.IsConnect)
{
    <button id="btnConnection" class="btn btn-agree btn-block">Connect</button>
}
else
{
    <button class=" btn btn-block btn-action-main">Market Summary</button>
    <div class=" row">
        <table class="display table" style="font-size:small; font-weight:600 ;table-layout:fixed">
            <thead>
                <tr>
                    @foreach (MatlabContractModel mktitem in ViewBag.MktSummaryData)
                    {
                        <th style="text-align:center">@mktitem.contract.Symbol</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (MatlabContractModel mktitem in ViewBag.MktSummaryData)
                    {
                        <td align="center">@Math.Round(mktitem.last,2)</td>
                    }
                </tr>
                <tr>
                    @foreach (MatlabContractModel mktitem in ViewBag.MktSummaryData)
                    {
                        if (mktitem.last / mktitem.close < 1)
                        {
                            <td align="center" style="color:darkred">@((mktitem.last / mktitem.close - 1).ToString(ViewBag.PctFormat))</td>
                        }
                        else
                        {
                            <td align="center" style="color:lightseagreen">@((mktitem.last / mktitem.close - 1).ToString(ViewBag.PctFormat))</td>

                        }
                    }
</tbody>
        </table>
    </div>

    <button id="btnDisConnection" class="btn btn-disagree  btn-block">Disconnect</button>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <table id="tblSummary" class="table  table-responsive" style="font-size:small; font-weight:600 ;table-layout:fixed">
                <thead style="color:#746232;font-weight:100">
                    <tr>
                        @foreach (string item in ViewBag.summaryData.Keys)
                        {
                            <th style="text-align:center">@item</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (string item in ViewBag.summaryData.Keys)
                        {
                            <td align="center">@ViewBag.summaryData[item]</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel-group">
        <div class="row">
            @foreach (PerformanceSummary item in ViewBag.portfolioData.Keys)
            {
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <button type="button" class="btn btn-lg btn-block btn-collapse" data-toggle="collapse" data-target="#@item.PortfolioType">
                                    <span class="glyphicon glyphicon-fire"></span>
                                    @item.PortfolioType <span class="badge">@item.NumSecurities </span>  <span class="badge">@item.MarketValuePct.ToString(ViewBag.PctFormat)</span>
                                </button>
                                <table class="table" style="font-size:small">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Cost Basis</th>
                                            <th style="text-align:center">Market Value</th>
                                            <th style="text-align:center">Delta</th>
                                            <th style="text-align:center">Unrealized P&L</th>
                                            <th style="text-align:center">Reazlied P&L</th>
                                            <th style="text-align:center">Daily P&L</th>
                                            <th style="text-align:center">Daily Rtn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="center">@item.Premium.ToString(ViewBag.NumFormat)</td>
                                            <td align="center">@item.MarketValue.ToString(ViewBag.NumFormat)</td>
                                            <td align="center">@item.Delta.ToString(ViewBag.NumFormat)</td>
                                            <td align="center">@item.UnrealizedPL.ToString(ViewBag.NumFormat)</td>
                                            <td align="center">@item.RealizedPL.ToString(ViewBag.NumFormat)</td>
                                            <td align="center">@item.DailyiPL.ToString(ViewBag.NumFormat)</td>
                                            <td align="center">@((item.DailyiPL/Math.Abs(item.MarketValue)).ToString(ViewBag.PctFormat))</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-body">
                                <div id="@item.PortfolioType" class="panel-collapse collapse">
                                    <div style="overflow:auto;">
                                        @if (item.PortfolioType == "OPT" || item.PortfolioType == "FOP")
                                        {
                                            <table class="display table-hover table table-bordered tblMainFormat" id="tblSecTypeOption">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Ticker</th>
                                                        <th>Index</th>
                                                        <th>S0</th>
                                                        <th>Exp</th>
                                                        <th>CostBasis</th>
                                                        <th>MktValue</th>
                                                        <th>Delta</th>
                                                        <th>Gamma</th>
                                                        <th>Theta</th>
                                                        <th>Vega</th>
                                                        <th>UnPL</th>
                                                        <th>DailyPL</th>
                                                        <th>DailyRtn</th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (IBPortfolioModel pos in ViewBag.portfolioData[item])
                                                    {
                                                    <tr>
                                                        <td></td>
                                                        <td>@pos.strategyNameOption</td>
                                                        <td>@pos.contract.Symbol</td>
                                                        <td>@pos.Underlying</td>
                                                        <td>@DateTime.ParseExact(pos.contract.LastTradeDateOrContractMonth, "yyyyMMdd", CultureInfo.InvariantCulture).ToString("yyyy/MM/dd")</td>
                                                        <td>@pos.premium.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.marketValue.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.Delta.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.Gamma.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.Theta.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.Vega.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.unrealizedPNL.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.DailyPNL.ToString(ViewBag.NumFormat)</td>
                                                        <td>@((pos.DailyPNL / Math.Abs(pos.marketValue)).ToString(ViewBag.PctFormat))</td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <table class="display table-hover table table-bordered tblSecType tblMainFormat">
                                                <thead>
                                                    <tr>
                                                        <th>Ticker</th>
                                                        <th>Pos</th>
                                                        <th>AveCost</th>
                                                        <th>MktPrice</th>
                                                        <th>CostBasis</th>
                                                        <th>MktValue</th>
                                                        <th>Delta</th>
                                                        <th>UnPL</th>
                                                        <th>RzPL</th>
                                                        <th>DailyPL</th>
                                                        <th>DailyRtn</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (IBPortfolioModel pos in ViewBag.portfolioData[item])
                                                    {
                                                    <tr>
                                                        <td>@pos.tickerName</td>
                                                        <td>@pos.position</td>
                                                        <td>@pos.averageCost.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.marketPrice.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.premium.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.marketValue.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.Delta.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.unrealizedPNL.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.realizedPNL.ToString(ViewBag.NumFormat)</td>
                                                        <td>@pos.DailyPNL.ToString(ViewBag.NumFormat)</td>
                                                        <td>@((pos.DailyPNL / Math.Abs(pos.marketValue)).ToString(ViewBag.PctFormat))</td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
